<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Add new task</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
{{ form_start(form, { action: path('task_create') }) }}
<div class="modal-body">
    {{ form_row(form.title) }}
    {{ form_row(form.description) }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary" data-action="click->modal#close">Save</button>
</div>
{{ form_end(form) }}